.container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: var(--bg-container);
}

.button {
    border: none;
    background: transparent;
    font-size: 35px;
    cursor: pointer;
    border-bottom: 4px solid var(--inactive);
    color: var(--inactive);
    margin: 0 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

.active{
    border-bottom: 6px solid blue;
    color: blue;
}

.button>*:first-child {
    font-size: 60px;
}

@media screen and (min-width: 1200px){
    .container {
        height: 70px;
    }
    .button{
        font-size: 20px;
        width: 100px;
    }
    .button>*:first-child {
        font-size: 30px;
    }
}
