:root {
    --bg-container: #f3f3f3;
    --progress: #43badb;
    --bg-progress: #c3ccd8;
    --bg-row: #e6ebf2;
    --inactive: #b5abab;
    --active: #292e35;
}

body{
    background-color: var(--bg-container);
    font-family: sans-serif;
}