:root {
    --background-color: #000000;
    --bg-container: #f3f3f3;
    --progress: #43badb;
    --bg-progress: #c3ccd8;
    --bg-row: #e6ebf2;
    --inactive: #b5abab;
    --active: #9aa9b8;
}

body {
    background-color: var(--background-color);
}