.container {
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--bg-progress);
    border-radius: 12px;
    margin: 15px 0px;
    padding: 10px 15px;
}

.card span {
    display: block;
    margin-bottom: 0.5rem;
  }